[General]
# ---
# Defaults:
# HelloMyNameIs = user (used for personalized output)
# Vendor = 0x04b8 (Seiko Epson)
# Product = 0x0202 (TM-T88IV Reciept Printer M129)
# ---
HelloMyNameIs = user
Vendor = 0x04b8
Product = 0x0202
[Plugins]
# ---
# Enter the names of the plugins you want to enable in here.
# The source files need to be put in plugins/[pluginname]
# ---
weather
[Debug]
# ---
# Don't touch these unless you really know what you're doing.
# ---
TestMode = 0
LogLevel = WARNING